In [3]:
import pandas as pd
import featuretools as ft

In [4]:
data = ft.demo.load_mock_customer()

{'customers':    customer_id zip_code           join_date date_of_birth
 0            1    60091 2011-04-17 10:48:33    1994-07-18
 1            2    13244 2012-04-15 23:31:04    1986-08-18
 2            3    13244 2011-08-13 15:42:34    2003-11-21
 3            4    60091 2011-04-08 20:08:14    2006-08-15
 4            5    60091 2010-07-17 05:27:50    1984-07-28,
 'products':   product_id brand
 0          1     B
 1          2     B
 2          3     B
 3          4     B
 4          5     A,
 'sessions':     session_id  customer_id   device       session_start
 0            1            2  desktop 2014-01-01 00:00:00
 1            2            5   mobile 2014-01-01 00:17:20
 2            3            4   mobile 2014-01-01 00:28:10
 3            4            1   mobile 2014-01-01 00:44:25
 4            5            4   mobile 2014-01-01 01:11:30
 5            6            1   tablet 2014-01-01 01:23:25
 6            7            3   tablet 2014-01-01 01:39:40
 7            8            4   tablet 2014-01-01 01:55:55
 8            9            1  desktop 2014-01-01 02:15:25
 9           10            2   tablet 2014-01-01 02:31:40
 10          11            4   mobile 2014-01-01 02:47:55
 11          12            4  desktop 2014-01-01 03:04:10
 12          13            4   mobile 2014-01-01 03:15:00
 13          14            1   tablet 2014-01-01 03:28:00
 14          15            2  desktop 2014-01-01 03:41:00
 15          16            2  desktop 2014-01-01 03:49:40
 16          17            2   tablet 2014-01-01 04:00:30
 17          18            1  desktop 2014-01-01 04:14:35
 18          19            3  desktop 2014-01-01 04:27:35
 19          20            5  desktop 2014-01-01 04:46:00
 20          21            4  desktop 2014-01-01 05:02:15
 21          22            4  desktop 2014-01-01 05:21:45
 22          23            3  desktop 2014-01-01 05:32:35
 23          24            5   tablet 2014-01-01 05:44:30
 24          25            3  desktop 2014-01-01 05:59:40
 25          26            1   tablet 2014-01-01 06:17:00
 26          27            1   mobile 2014-01-01 06:34:20
 27          28            5   mobile 2014-01-01 06:50:35
 28          29            1   mobile 2014-01-01 07:10:05
 29          30            5  desktop 2014-01-01 07:27:25
 30          31            2   mobile 2014-01-01 07:42:35
 31          32            5   mobile 2014-01-01 08:02:05
 32          33            2   mobile 2014-01-01 08:10:45
 33          34            3  desktop 2014-01-01 08:24:50
 34          35            3   mobile 2014-01-01 08:44:20,
 'transactions':      transaction_id  session_id    transaction_time product_id  amount
 0               298           1 2014-01-01 00:00:00          5  127.64
 1                 2           1 2014-01-01 00:01:05          2  109.48
 2               308           1 2014-01-01 00:02:10          3   95.06
 3               116           1 2014-01-01 00:03:15          4   78.92
 4               371           1 2014-01-01 00:04:20          3   31.54
 5               486           1 2014-01-01 00:05:25          3   23.76
 6               271           1 2014-01-01 00:06:30          3   43.63
 7               192           1 2014-01-01 00:07:35          4   42.27
 8               341           1 2014-01-01 00:08:40          3   47.68
 9                10           1 2014-01-01 00:09:45          5   57.39
 10               29           1 2014-01-01 00:10:50          2   20.91
 11              158           1 2014-01-01 00:11:55          4  141.66
 12              245           1 2014-01-01 00:13:00          1  121.75
 13              495           1 2014-01-01 00:14:05          5   69.45
 14              438           1 2014-01-01 00:15:10          4   76.38
 15              175           1 2014-01-01 00:16:15          2  141.49
 16              353           2 2014-01-01 00:17:20          4   42.99
 17              270           2 2014-01-01 00:18:25          5  123.53
 18              453           2 2014-01-01 00:19:30          5    9.32
 19              370           2 2014-01-01 00:20:35          1  106.99
 20               22           2 2014-01-01 00:21:40          3  116.02
 21              250           2 2014-01-01 00:22:45          2   60.09
 22               74           2 2014-01-01 00:23:50          5   90.69
 23              207           2 2014-01-01 00:24:55          5   48.27
 24              399           2 2014-01-01 00:26:00          2  135.25
 25              122           2 2014-01-01 00:27:05          5   13.81
 26              496           3 2014-01-01 00:28:10          1  137.82
 27              459           3 2014-01-01 00:29:15          1   23.20
 28              134           3 2014-01-01 00:30:20          3  120.08
 29              384           3 2014-01-01 00:31:25          4   26.16
 ..              ...         ...                 ...        ...     ...
 470             497          34 2014-01-01 08:29:10          5  148.86
 471             430          34 2014-01-01 08:30:15          4   34.68
 472             500          34 2014-01-01 08:31:20          2  129.35
 473             467          34 2014-01-01 08:32:25          5  145.19
 474             425          34 2014-01-01 08:33:30          3   70.38
 475             361          34 2014-01-01 08:34:35          3   71.63
 476             469          34 2014-01-01 08:35:40          3   14.48
 477             284          34 2014-01-01 08:36:45          1   30.04
 478             277          34 2014-01-01 08:37:50          4  128.34
 479             267          34 2014-01-01 08:38:55          5   58.47
 480             319          34 2014-01-01 08:40:00          4  128.23
 481             241          34 2014-01-01 08:41:05          4   27.57
 482             427          34 2014-01-01 08:42:10          1   16.75
 483             237          34 2014-01-01 08:43:15          1  108.01
 484               3          35 2014-01-01 08:44:20          3   62.49
 485               6          35 2014-01-01 08:45:25          4   17.05
 486              14          35 2014-01-01 08:46:30          1   51.20
 487             435          35 2014-01-01 08:47:35          3   60.49
 488             493          35 2014-01-01 08:48:40          5  132.94
 489             374          35 2014-01-01 08:49:45          1   60.51
 490             118          35 2014-01-01 08:50:50          1  108.50
 491             338          35 2014-01-01 08:51:55          5   93.71
 492              37          35 2014-01-01 08:53:00          5   62.79
 493             331          35 2014-01-01 08:54:05          1   17.58
 494             311          35 2014-01-01 08:55:10          5   24.01
 495             112          35 2014-01-01 08:56:15          5   55.42
 496             111          35 2014-01-01 08:57:20          3   34.87
 497             276          35 2014-01-01 08:58:25          1   10.94
 498             266          35 2014-01-01 08:59:30          5   19.86
 499             203          35 2014-01-01 09:00:35          3  148.31

 [500 rows x 5 columns]}